/*!
 * Roots 6.4.0
 */

@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/utilities.less";
@import "bootstrap/fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
	font-family:@serifFontFamily;
}

h1,h2,h3,h4,h5,h6 {
	font-family:@sansFontFamily;
}



/* =============================================================================
   Header
   ========================================================================== */

.banner { 
	.brand {
		.size(97px,147px);
		display:block;
		background:url(@sprite) no-repeat left top;
		.hide-text();
		margin:15px auto;
	}
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
	h3 {
		color:@gray;
		text-transform:uppercase;
		font-size:16px;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	font-size:14px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
	header { 
		.entry-title {
			font-size:35px;
			margin:0;
			}
		}
	.byline {
		color:@blue;
	}
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
