.content-info { 
	background:@blue;
	font-family:@sansFontFamily;
	z-index:100;
	.translate3d(0,0,0);
	* {
		.translate3d(0,0,0);
	}
	p { 
		font-size:13px;
		line-height:1.6;
		margin:0;
		&.copyright {
			line-height:36px;
			color:@white;
		}
	}
	h4 {
		font-size:17px;
		color:@blueLighter;
		text-transform:uppercase;
		font-family:@sansFontFamily;
		letter-spacing:.2em;
		margin:0;
		line-height:35px;
	}
	a {
		color:white;
		&:hover {
			color:@blueLighter;
			text-decoration:none;
		}
	}
	.span6 {
		padding-left:25px;
		margin-left:0;
		&.text-right {
			padding-right:25px;
			padding-left:0;
		}
		&.border-right {
			border-right:1px solid #a4adb5;
		}
	}
	.text-center {
		position:relative;
	}
	.social-icons {
		margin:0;
		float:none;
		//position:absolute;
		//right:0;
		//bottom:0;
		li {
			vertical-align:middle;
			width:26px;
			height:26px;
			background-size: 550px 711px;
			&.instagram {
				background-position: -133px -151px;
			}
			&.pinterest {
				background-position: -205px -110px;
			}
			&.facebook {
				background-position: -167px -110px;
			}
			&.twitter {
				background-position: -128px -110px;
			}
		}
	}
}

/* ==========================================================================
   Sticky Footer
   ========================================================================== */

#wrap {
	min-height:100%;
}

/* ==========================================================================
   767 and Below
   ========================================================================== */


@media (max-width: 767px) {

	.content-info {
		position:relative;
		margin-top:125px;
		height:125px;
		clear:both;
		h4 {
			line-height:1;
			margin:11px 0 5px 0;
		}
		p { 
			&.copyright {
				line-height:1.4;
				text-align:center;
				margin:1.25em 0 0;
			}
		}
		.social-icons {
			position:relative;
			text-align:center;
			right:auto;
			bottom:auto;
		}
	}

	.content-info {
		text-align:center;
		.text-right {
			text-align:center;
		}
		.span6 {
			border:none !important;
			padding:0 !important;
			margin:0 !important;
		}
	}

	.single-capability {
		.content-info {
			display:block;
		}
	}

	.page-template-template-connect-php {
		.content-info {
			margin-top:0;
		}
	}
}

/* ==========================================================================
   768 and Above
   ========================================================================== */

@media (min-width: 768px) {

	.content-info {
		position:relative;
		margin-top:36px;
		height:36px;
		clear:both;
	}

	.page-template-template-connect-php {
		.content-info {
			margin-top:80px;
		}
	}
}

