.home {
	.banner {
		.brand {
			//background-position:-142px top;
		}
		//background:url(../img/gradient.png) repeat-x left -10px;
		background:url(../img/gradient.png) repeat-x left -73px;
		//border-bottom:1px solid @white;
		border-bottom:none;
	}
	.content-info {
		display:none;
	}
	.img {
		.hide-text();
		.opacity(0);
		-webkit-backface-visibility: hidden;
		position:absolute;
		.translate3d(0,0,0);
		&.slide1 {
			background:url(../img/slideText1.png) no-repeat left top;
			width:296px;
			height:90px;
			right:20%;
			bottom:200px;
		}
		&.slide2 {
			background:url(../img/slideText2.png) no-repeat left top;
			width:334px;
			height:90px;
			right:10%;
			top:240px;
		}
		&.slide3 {
			background:url(../img/slideText3.png) no-repeat left top;
			width:479px;
			height:90px;
			left:10%;
			top:440px;
		}
		&.slide4 {
			background:url(../img/slideText4.png) no-repeat left top;
			width:297px;
			height:140px;
			right:10%;
			top:340px;
		}
		&.slide5 {
			background:url(../img/slideText5.png) no-repeat left top;
			width:307px;
			height:90px;
			left:10%;
			top:320px;
		}
		&.slide6 {
			background:url(../img/slideText6.png) no-repeat left top;
			width:385px;
			height:90px;
			right:10%;
			top:440px;
		}
		&.slide7 {
			background:url(../img/slideText7.png) no-repeat left top;
			width:463px;
			height:186px;
			right:10%;
			bottom:240px;
		}
		&.slide8 {
			background:url(../img/slideText8.png) no-repeat left top;
			width:286px;
			height:89px;
			right:10%;
			bottom:440px;
		}
	}
}