/*!
 * Roots 6.4.0
 */

@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/utilities.less";
@import "bootstrap/fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	*behavior: url(boxsizing.htc); 
}

html { 
	background:@blueDark;
}

body { 
	font-family:@serifFontFamily;
}

h1,h2,h3,h4,h5,h6 {
	font-family:@sansFontFamily;
	font-weight:normal;
}

strong {
	font-weight:normal;
	font-family: 'ArvoBold';
	em {
		font-family: 'ArvoBoldItalic';
	}
}

em {
	font-family: 'ArvoItalic';
	font-style:normal;
	strong {
		font-family: 'ArvoBoldItalic';
	}
}

.caps {
	text-transform:uppercase;
}

.js {
	body {
		display:none;
	}
}

/* =============================================================================
   Home Specifics
   ========================================================================== */

.home {
	.banner {
		.brand {
			background-position:-138px top;
		}
		background:url(../img/gradient.png) repeat-x left bottom;
		border:none;
	}
	.content-info {
		display:none;
	}
	.container {
		position:relative;
	}
	.img {
		.hide-text();
		.opacity(0);
		-webkit-backface-visibility: hidden;
		&.forward {
			background:url(../img/forward.png) no-repeat left top;
			width:246px;
			height:36px;
		}
		&.thinkers {
			background:url(../img/thinkers.png) no-repeat left top;
			width:246px;
			height:36px;
		}
		&.forward2 {
			background:url(../img/forward.png) no-repeat left top;
			width:246px;
			height:36px;
			position:absolute;
			right:0;
			top:42px;
		}
		&.thinkers2 {
			background:url(../img/thinkers.png) no-repeat left top;
			width:246px;
			height:36px;
			position:absolute;
			right:0;
			top:86px;
		}
	}
}


/* =============================================================================
   Header
   ========================================================================== */

.banner { 
	.brand {
		.size(81px,139px);
		display:block;
		background:url(@sprite) no-repeat left top;
		.hide-text();
		margin:15px auto;
	}
	border-bottom:2px solid @blue;
}





/* ==========================================================================
   Content
   ========================================================================== */

.content {
	.caps {
		text-transform:uppercase;
	}
	.meta {
		color:@gray;
		margin:0;
		&.match-height {
			line-height:38px;
		}
	}
	.thumbnail {
		max-width:100%;
	}
	p {
		margin:.75em 0;
	}
	hr {
		border:none;
		border-top:1px solid @blue;
	}
	strong {

	}
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.wrap {
	&.container {
		margin:50px auto 0;
	}
	.clear {
		clear:left;
		margin-left:0;
	}
}

.page-header {
	h1 {
		font-size:30px;
		color:@gray;
		text-align:center;
		font-family: 'Circe-Regular';
		font-weight:normal;
		text-transform:uppercase;
		margin:.75em 0 1em 0;
	}
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
	h3 {
		color:@gray;
		text-transform:uppercase;
		font-size:16px;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	#s {
		background:@blue;
		border:none;
		color:@white;
		font-size:15px;
		font-family: 'Circe-Regular';
		padding:10px 14px;
		.border-radius(2px);
		width:100%;
	}
	.widget {
		border-bottom:1px solid @blue;
		margin:0 0 25px 0;
		padding:0 0 25px 0;
		&.widget-last {
			border-bottom:none;
			margin:0;
			padding:0;
		}
		h3 {
			margin:0;
		}
	}
	font-size:14px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
	header { 
		.entry-title {
			font-size:35px;
			margin:0;
			line-height:1.1;
			a {
				color:@white;
			}
			}
		}
	.byline {
		color:@blueLight;
		margin:.5em 0 2em 0;
	}
	margin: 0 0 4em 0;
	padding: 0 0 2em 0;
	border-bottom:1px solid @blue;
	font-size:16px;
	line-height:26px;
}

/* ==========================================================================
   Single Team Posts
   ========================================================================== */

.single-team {
	.hentry {
		border:none;
	}
}

/* ==========================================================================
   Team Archive
   ========================================================================== */

.post-type-archive {
	.content {
		.attachment-post-thumbnail {
		border:1px solid @gray;
		&:hover {
			border:1px solid white;
		}
		}
		.span2 {
			margin-bottom:25px;
		}
		a {
			display:block;
			&:hover {
				color:white;
				text-decoration:none;
			}
		}
		.large {
			font-size:18px;
			line-height:1;
			em {
				font-size:13px;
				&.arvo {
					font-family: 'ArvoItalic';
				}
			}
		}
	}
}

.team-photo {
	img {
		position:absolute;
		left:0;
		top:0;
	}
	position:relative;
	width:100%;
	min-height:475px;
	margin:0 0 100px 0;
	.hover {
		cursor:pointer;
		position:absolute;
		width: 70px;
		height: 70px;
	}
	.mertz {
		right: 55px;
		bottom: 265px;
	}
	.heff {
		left:380px;
		top:208px;
	}
	.ruben {
		left:594px;
		top:197px;
	}
	.ahr {
		left:281px;
		top:127px;
	}
}

.tooltipsy {
	background:url(../img/white-85.png) repeat;
	text-align:center;
	padding:10px 15px;
	color:@blueDark;
	h4 {
		font-size:16px;
		font-family: 'Circe-Bold';
		margin:0 0 5px 0;
		line-height:1;
		&:before {
			content: "";
			display: block;
			width: 23px;
			height: 13px;
			background:url(../img/sprite.png) no-repeat -287px -2px;
			margin:0 auto;
		}
	}
	p {
		margin:0;
		line-height:1;
		font-size:13px;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
	background:@blue;
	margin:80px 0 0;
	font-family: 'Circe-Regular';
	padding:20px 0;
	p { 
		font-size:13px;
		line-height:1.6;
		margin:0;
	}
	h4 {
		font-size:17px;
		color:@blueLighter;
		text-transform:uppercase;
		font-family: 'Circe-Regular';
		letter-spacing:.2em;
		margin:0;
	}
	a {
		color:white;
		&:hover {
			color:@blueLighter;
			text-decoration:none;
		}
	}
	.span6 {
		padding-left:25px;
		margin-left:0;
		&.text-right {
			padding-right:25px;
			padding-left:0;
		}
		&.border-right {
			border-right:1px solid #a4adb5;
		}
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 1.625em auto; }
.alignleft { float: left; margin:0 1.625em 1.625em 0; }
.alignright { float: right; margin:0 0 1.625em 1.625em; }
.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
